# Dependencies
node_modules/

# System files
.DS_Store
*.swp
*.swo
.vscode/
.idea/

# Logs
*.log

# Keep thumbnails and medium-sized images in the repository
!thumbnails/

# Generated build/development files
public/
screenshot.png

# Ignore build results
build/results/